[submodule "src/moiro_vision"]
	path = src/moiro_vision
	url = https://github.com/MOIRO-KAIROS/moiro_vision.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "src/moiro_interfaces"]
	path = src/moiro_interfaces
	url = https://github.com/MOIRO-KAIROS/moiro_interfaces.git
[submodule "src/moiro_description"]
	path = src/moiro_description
	url = https://github.com/MOIRO-KAIROS/moiro_description.git
[submodule "src/moiro_agv"]
	path = src/moiro_agv
	url = https://github.com/MOIRO-KAIROS/moiro_agv.git
