#cv_bridge==3.2.1
#opencv_python_headless==4.9.0.80
quaternion==3.5.2.post4
tf_transformations==1.0.0
PyYAML==5.4.1
typeguard==2.2.2
jinja2
scikit-image==0.22.0
scikit-learn==1.4.1.post1
matplotlib==3.5.1
pandas==2.2.0
pytorch-lightning==1.8.6
tqdm==4.66.2
bcolz-zipline==1.2.6
prettytable==3.10.0
menpo==3.3.4
mxnet==1.9.1
empy==3.3.4
colcon-common-extensions==0.3.0
opencv-python==4.8.1.78
typing-extensions>=4.4.0
ultralytics==8.1.29
lap==0.4.0
lark==1.1.1
setuptools==58.2.0
transforms3d==0.4.1
numpy==1.26.4
setuptools==58.2.0
pyrealsense2==2.55.1.6486