<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Panel</title>

    <style>
            #container {
                display: flex;
            }
            #video {
                width: 640px;
                height: 480px;
                border: 1px solid black;
                margin-left: 35px;
                margin-top: 20px;
            }
            #controls {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 100px;
                margin-right : 20px;
            }
            .button-group input{
                width: 180px;
                height: 30px; 
                font-size: 16px;
                margin-right: 20px;
                margin-bottom: 15px;
            }
            .button-group button,
            .button-group select {
                width: 180px;
                height: 50px; 
                font-size: 16px;
                margin-right: 20px;
                margin-bottom: 15px;
            }
            .reset-button {
                width: 50px;
                height: 50px;
                font-size: 16px;
            }
        </style>
    </head>
    <body>
        <div id="container">
            <div id="video">
                <img src="{{ url_for('video_feed') }}" width="640" height="480">
            </div>
            <div id="controls">
                <div class="button-group">
                    <h3>Streaming Camera
                    <input type="text" id="cam_ip" placeholder="Camera IP">
                    <input type="text" id="cam_port" placeholder="Camera Port"  value="4747">
                    <button id="camera-toggle-button" onclick="toggleCameraStream()">Connect Camera</button>
                <!-- </div>
                <div id="message" style="color: red; margin-top: 10px; max-height: 150px; overflow-y: auto; border: 1px solid #ccc; padding: 10px;"></div>
                </div> -->
                <div class="button-group">
                    <h3>Raspberry Pi
                    <input type="text" id="rasp_ip" placeholder="Rasp IP" value="172.30.1.54">
                    <input type="text" id="rasp_port" placeholder="Rasp Port"  value="5000">
                    <button onclick="raspConnect()">Connect Rasp</button>
                </div>
                <div class="button-group">
                    <h3>COM1 Controls
                    <input type="text" id="com1_ip" placeholder="COM1 IP">
                    <input type="text" id="com1_port" placeholder="COM1 Port" value="5000"><br>
                    <button onclick="handleCOM1('start_adaface')">Start Adaface</button>
                    <select id="file_select" onchange="loadNames()">
                        <option value="">Select File</option>
                    </select>
                    <select id="person_name">
                        <option value="">Select Person</option>
                    </select>
                    <button class="reset-button" onclick="handleCOM1('reset_name')">Reset Name</button>
                    <button onclick="handleCOM1('killAdaface')">Kill Adaface</button><br>
                    <button onclick="handleCOM1('sync_play')">Sync Play</button>
                    <button onclick="handleCOM1('killSyncPlay')">Kill Sync Play</button>
                </div>
                <div class="button-group">
                    <h3>COM2 Controls
                    <input type="text" id="com2_ip" placeholder="COM2 IP">
                    <input type="text" id="com2_port" placeholder="COM2 Port" value="5001"><br>
                    <button onclick="handleCOM2('start_follower')">Start Follower</button>
                    <input type="text" id="min_depth" placeholder="Min Depth">
                    <input type="text" id="max_depth" placeholder="Max Depth">
                    <button `="reset-button" onclick="handleCOM2('reset_depth')">Reset Depth</button>
                    <button onclick="handleCOM2('killHF')">Kill HF</button><br>
                    <button onclick="handleCOM2('mycobot')">mycobot</button>
                    <button onclick="handleCOM2('killMycobot')">Kill mycobot</button>
                </div>
            </div>
        </div>

    <script>
        let cameraStreaming = false;

        // let socket;

        document.addEventListener('DOMContentLoaded', function() {
            loadFileList();
        });

        // function setupWebSocket() {
        //     const com2_ip = document.getElementById('com2_ip').value;
        //     const com2_port = document.getElementById('com2_port').value;
        //     socket = io.connect('http://' + com2_ip + ':' + com2_port);

        //     return new Promise((resolve, reject) => {
        //         socket.on('stderr_output', function(data) {
        //             const MessageContainer = document.getElementById('message');
        //             const newMessage = document.createElement('div');
        //             newMessage.textContent = data.message;
        //             MessageContainer.appendChild(newMessage);

        //             // 스크롤을 가장 아래로 이동
        //             MessageContainer.scrollTop = MessageContainer.scrollHeight;

        //             // WebSocket 설정이 완료되었음을 resolve로 알림
        //             resolve();
        //         });
        //     });
        // }

        function loadFileList() {
            fetch('/get_file_list')
            .then(response => response.json())
            .then(files => {
                const fileSelect = document.getElementById('file_select');
                files.forEach(file => {
                    let option = document.createElement('option');
                    option.value = file;
                    option.textContent = file;
                    fileSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
        }

        function loadNames() {
            const filename = document.getElementById('file_select').value;
            if (filename) {
                fetch('/get_names_from_file', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: `filename=${filename}`
                })
                .then(response => response.json())
                .then(names => {
                    const nameSelect = document.getElementById('person_name');
                    nameSelect.innerHTML = '<option value="">Select Person</option>';
                    names.forEach(name => {
                        let option = document.createElement('option');
                        option.value = name;
                        option.textContent = name;
                        nameSelect.appendChild(option);
                    });
                })
                .catch(error => console.error('Error:', error));
            }
        }
        function raspConnect(){
            const rasp_ip = document.getElementById('rasp_ip').value;
            const rasp_port = document.getElementById('rasp_port').value;
            fetch('/start_rasp', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `rasp_ip=${rasp_ip}&rasp_port=${rasp_port}`
            })
            .then(response => response.text())
            .then(data => alert(data))
            .catch(error => console.error('Error:', error));
        }
        function toggleCameraStream() {
            const cam_ip = document.getElementById('cam_ip').value;
            const cam_port = document.getElementById('cam_port').value;
            const button = document.getElementById('camera-toggle-button');
            
            if (cameraStreaming) {
                // Stop the camera stream
                fetch('/stop_camera', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    }
                })
                .then(response => response.text())
                .then(data => {
                    alert(data);
                    button.textContent = 'Connect Camera';
                    cameraStreaming = false;
                })
                .catch(error => console.error('Error:', error));
            } else {
                // Start the camera stream
                fetch('/start_camera', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: `cam_ip=${cam_ip}&cam_port=${cam_port}`
                })
                .then(response => response.text())
                .then(data => {
                    alert(data);
                    button.textContent = 'Disconnect Camera';
                    cameraStreaming = true;
                })
                .catch(error => console.error('Error:', error));
            }
        }

        function handleCOM1(action) {
            const com1_ip = document.getElementById('com1_ip').value;
            const com1_port = document.getElementById('com1_port').value;
            const person_name = document.getElementById('person_name').value;

            let body = `com1_ip=${com1_ip}&com1_port=${com1_port}`;
            if (action === 'start_adaface' || action === 'reset_name') {
                if (person_name === '') {
                    alert('Please enter a person name');
                    return;
                }
                body += `&person_name=${person_name}`;
            }
            else if(action == 'killAdaface'){
                alert('Adaface is killed');
            }
            else if(action == 'killSyncPlay'){
                alert('SyncPlay is killed');
            }

            fetch(`/${action}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: body
            })
            .then(response => response.text())
            .then(data => alert(data))
            .catch(error => console.error('Error:', error));
        }

        function handleCOM2(action) {
            const com2_ip = document.getElementById('com2_ip').value;
            const com2_port = document.getElementById('com2_port').value;
            const min_depth = document.getElementById('min_depth').value;
            const max_depth = document.getElementById('max_depth').value; 

            let body = `com2_ip=${com2_ip}&com2_port=${com2_port}`;
            if (action === 'start_follower' || action === 'reset_depth') {
                if (isNaN(min_depth) || isNaN(max_depth)) {
                    alert('Target Depth must be integer! (default: <b>100 ~ 150 cm</b>)');
                    return;
                }
                body += `&min_depth=${min_depth}&max_depth=${max_depth}`;
                // if (action === 'start_follower') {
                //     // WebSocket 설정이 완료된 후에 fetch를 실행하도록 Promise 체이닝
                //     setupWebSocket().then(() => {
                //         executeFetch(action, body);
                //     });
                //     return; // fetch를 여기서 실행하지 않고 Promise 체이닝을 기다립니다.
                // }
            }
            else if(action == 'killHF'){
                alert('Human follower is killed');
            }
            else if(action == 'killMycobot'){
                alert('Mycobot is killed');
            }
            fetch(`/${action}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: body
            })
            .then(response => response.text())
            .then(data => alert(data))
            .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
