<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Panel</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        #video-container {
            position: relative;
            width: 640px;
            height: 480px;
            margin: auto;
            text-align: center;
            padding: 0; /* Padding을 제거하여 보더와 비디오 간의 여백을 없앱니다 */
            border: 1px solid black; /* 경계선 추가 */
            box-sizing: border-box; /* 경계선과 패딩을 요소의 크기에 포함 */
        }
        #video {
            width: 100%;
            height: 100%;
            object-fit: cover; /* 비디오가 컨테이너에 맞도록 */
        }
        #video-controls {
            width: 640px;
            margin: 10px auto 0;
            text-align: center;
            background: rgba(255, 255, 255, 0.8);
            padding: 10px;
            border-radius: 5px;
        }
        .reset-button {
            width: 75px;
            height: 40px;
            font-size: 16px;
        }
        .control-panel {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .control-panel .card {
            margin: 10px;
            flex: 1;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-md-12 text-center" id="video-container">
                <div id="video" class="d-inline-block">
                    <img src="{{ url_for('video_feed') }}" alt="Video Feed">
                </div>
            </div>
            <div id="video-controls">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type="text" id="cam_ip" class="form-control" placeholder="Camera IP">
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" id="cam_port" class="form-control" placeholder="Port">
                    </div>
                    <div class="form-group col-md-4">
                        <button id="camera-toggle-button" class="btn btn-primary btn-block" onclick="toggleCameraStream()">Connect Camera</button>
                    </div>
                </div>
            </div>
        </div>    
        <div class="row mt-3 control-panel">
            <div class="card">
                <div class="card-body">
                    <h3>Raspberry Pi</h3>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <input type="text" id="rasp_ip" class="form-control" placeholder="Rasp IP">
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" id="rasp_port" class="form-control" placeholder="Port">
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" onclick="raspConnect()">Connect Rasp</button>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3>COM1 Controls</h3>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <input type="text" id="com1_ip" class="form-control" placeholder="COM1 IP">
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" id="com1_port" class="form-control" placeholder="COM1 Port">
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="form-group col-md-2">
                            <div class="card text-center p-2">
                                <label class="mb-0">Name</label>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <select id="file_select" class="form-control" onchange="loadNames()">
                                <option value="">Select File</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <select id="person_name" class="form-control">
                                <option value="">Select Person</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <button class="btn btn-secondary btn-block reset-button" onclick="handleCOM1('reset_name')">Reset</button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <button class="btn btn-primary btn-block" onclick="handleCOM1('start_adaface')">Start Adaface</button>
                        </div>
                        <div class="form-group col-md-6">
                            <button class="btn btn-danger btn-block" onclick="handleCOM1('killAdaface')">Kill Adaface</button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <button class="btn btn-primary btn-block mb-2" onclick="handleCOM1('sync_play')">Start Sync Play</button>
                        </div>
                        <div class="form-group col-md-6">
                            <button class="btn btn-danger btn-block" onclick="handleCOM1('killSyncPlay')">Kill Sync Play</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3>COM2 Controls</h3>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <input type="text" id="com2_ip" class="form-control" placeholder="COM2 IP">
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" id="com2_port" class="form-control" placeholder="COM2 Port">
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="form-group col-md-2">
                            <div class="card text-center p-2">
                                <label class="mb-0">Depth</label>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" id="min_depth" class="form-control" placeholder="Min Depth">
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" id="max_depth" class="form-control" placeholder="Max Depth">
                        </div>
                        <div class="form-group col-md-2">
                            <button class="btn btn-secondary btn-block reset-button mb-2" onclick="handleCOM2('reset_depth')">Reset</button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <button class="btn btn-primary btn-block mb-2" onclick="handleCOM2('start_follower')">Start Follower</button>
                        </div>
                        <div class="form-group col-md-6">
                            <button class="btn btn-danger btn-block mb-2" onclick="handleCOM2('killHF')">Kill Follower</button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <button class="btn btn-primary btn-block mb-2" onclick="handleCOM2('mycobot')">Start Mycobot</button>
                        </div>
                        <div class="form-group col-md-6">
                            <button class="btn btn-danger btn-block" onclick="handleCOM2('killMycobot')">Kill Mycobot</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        let cameraStreaming = false;

        document.addEventListener('DOMContentLoaded', function() {
            loadFileList();
        });

        function loadFileList() {
            fetch('/get_file_list')
            .then(response => response.json())
            .then(files => {
                const fileSelect = document.getElementById('file_select');
                files.forEach(file => {
                    let option = document.createElement('option');
                    option.value = file;
                    option.textContent = file;
                    fileSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
        }

        function loadNames() {
            const filename = document.getElementById('file_select').value;
            if (filename) {
                fetch('/get_names', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: `filename=${filename}`
                })
                .then(response => response.json())
                .then(names => {
                    const nameSelect = document.getElementById('person_name');
                    nameSelect.innerHTML = '<option value="">Select Person</option>';
                    names.forEach(name => {
                        let option = document.createElement('option');
                        option.value = name;
                        option.textContent = name;
                        nameSelect.appendChild(option);
                    });
                })
                .catch(error => console.error('Error:', error));
            }
        }

        function raspConnect(){
            const rasp_ip = document.getElementById('rasp_ip').value;
            const rasp_port = document.getElementById('rasp_port').value;
            fetch('/start_rasp', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `rasp_ip=${rasp_ip}&rasp_port=${rasp_port}`
            })
            .then(response => response.text())
            .then(data => alert(data))
            .catch(error => console.error('Error:', error));
        }

        function toggleCameraStream() {
            const cam_ip = document.getElementById('cam_ip').value;
            const cam_port = document.getElementById('cam_port').value;
            const button = document.getElementById('camera-toggle-button');
            
            if (cameraStreaming) {
                // Stop the camera stream
                fetch('/stop_camera', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    }
                })
                .then(response => response.text())
                .then(data => {
                    alert(data);
                    button.textContent = 'Connect Camera';
                    cameraStreaming = false;
                })
                .catch(error => console.error('Error:', error));
            } else {
                // Start the camera stream
                fetch('/start_camera', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: `cam_ip=${cam_ip}&cam_port=${cam_port}`
                })
                .then(response => response.text())
                .then(data => {
                    alert(data);
                    button.textContent = 'Disconnect Camera';
                    cameraStreaming = true;
                })
                .catch(error => console.error('Error:', error));
            }
        }

        function handleCOM1(action) {
            const com1_ip = document.getElementById('com1_ip').value;
            const com1_port = document.getElementById('com1_port').value;
            const person_name = document.getElementById('person_name').value;

            let body = `com1_ip=${com1_ip}&com1_port=${com1_port}`;
            if (action === 'start_adaface' || action === 'reset_name') {
                if (person_name === '') {
                    alert('Please enter a person name');
                    return;
                }
                body += `&person_name=${person_name}`;
            }
            else if(action == 'killAdaface'){
                alert('Adaface is killed');
            }
            else if(action == 'killSyncPlay'){
                alert('SyncPlay is killed');
            }

            fetch(`/${action}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: body
            })
            .then(response => response.text())
            .then(data => alert(data))
            .catch(error => console.error('Error:', error));
        }

        function handleCOM2(action) {
            const com2_ip = document.getElementById('com2_ip').value;
            const com2_port = document.getElementById('com2_port').value;
            const min_depth = document.getElementById('min_depth').value;
            const max_depth = document.getElementById('max_depth').value; 

            let body = `com2_ip=${com2_ip}&com2_port=${com2_port}`;
            if (action === 'start_follower' || action === 'reset_depth') {
                if (isNaN(min_depth) || isNaN(max_depth)) {
                    alert('Target Depth must be integer! (default: <b>100 ~ 150 cm</b>)');
                    return;
                }
                body += `&min_depth=${min_depth}&max_depth=${max_depth}`;
            }
            else if(action == 'killHF'){
                alert('Human follower is killed');
            }
            else if(action == 'killMycobot'){
                alert('Mycobot is killed');
            }
            fetch(`/${action}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: body
            })
            .then(response => response.text())
            .then(data => alert(data))
            .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>